.charas {
    background-color: #00000040;
    height: 80px;
    display: flex;
    align-items: center;
}

.charas ul {
    display: flex;
    margin: 30%;
}

.charas li {
    list-style-type: none;
    margin: 0 1rem;
    font-size: 16px;
}

.charas li .link {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}

.charas p {
    display: inline;
    font-family: SDK_JP_Web, serif;
    color: #E3CD9B;
    font-size: x-large;
}

.vision {
    width: 80px;
}

.icon {
    width: 65px;
    position: relative;
    left: -6px;
    top: -8px;
}

.charas button {
    width: 60px;
    background-color: #00000040;
    margin: 10px;
    height: 60px;
    border-radius: 30px;
    border-width: 3px;
    border-color: #789565;
    border-style: solid;
    color: #FFFFFF;
}
