.prof {
    grid-area: right;
    background-color: pink;
    padding: 10px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 30px);
    margin-top: 10px;
    margin-right: 20px;
    padding: 0px;
}

.table label {
    grid-column: 1 / 2;
    text-align: left;
}

.table span {
    grid-column: 2 / 3;
    text-align: right;
}