.screen {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "left main right";
}

.screen .mainView {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen .mainView img {
    max-height: 800px;
    max-width: 800px;
    margin: 20px;
}